{% extends "web_menu/iphone/new_order_base.html" %}

{% block drinkchoice %}
{% for item in menu.available_items %}
<!--img src="/web_menu/images/{{item.menu.code}}/{{item.image_name}}" class="iFull" -->
<label> 
<input type="radio" name="drinkchoice" value="{{item.id}}" /> {{item.metadata}}</label>

{% endfor %}

{% endblock %}

{% block locationchoice %}
{% for s in map.worldstation_set.all %}
<label><input type="radio" name="station" value="{{s.location}}" /> {{s}}</label>
{% endfor %}
{% endblock %}


