{% extends "mturk/base_app.html" %}

{% block subtitle %}Work approval report: {{session.code}} | {% endblock %}

{%block subbranding %}Work approval report: {{session.code}} | {% endblock %}


{% block content %}
<table>
<tr><td>Approved</td><td>{{report.num_approved}}</td></tr>
<tr><td>Rejected</td><td>{{report.num_rejected}}</td></tr>
<tr><td>Skipped</td><td>{{report.num_skipped}}</td></tr>
<tr><td>Undecided</td><td>{{report.num_undecided}}</td></tr>
<tr><td>Errors</td><td>{{report.num_errors}}</td></tr>
</table>

{% if report.errors %}
<hr/>
<b>Errors:</b><br/>
{% for e in report.errors %}
{{e}}<br/>
{% endfor %}
{% endif %}
{% endblock %}

