{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{% block subtitle %}{{ title }}{%endblock%} | {% trans 'Mechanical Turk task manager' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{%block subbranding %}{% endblock %}{% trans 'Mechanical Turk task manager' %}</h1>
{% endblock %}

{% block nav-global %}
{% if user %} 
{% if user.is_anonymous %}
<a href="/accounts/login/?next=/"> Login</a> / <a href="/accounts/register/">Registration</a> 
{% else %}
Welcome, {{user.username}} : 
{% comment %}<a href="/mt/dashboard_w/">Worker dashboard</a> 
/ <a href="/mt/dashboard_r/">Requester dashboard</a> 
/ <a href="/mt/dashboard_a/">Admin dashboard</a>  {% endcomment %}

<a href="/mt/">My sessions</a> 
/ <a href="/mt/all/">All sessions</a> 
{% if user.is_staff %}
/ <a href="/admin/">Admin interface</a>.
{% endif %}
/ <a href="/logout">Log out</a>
{% endif %}

{% endif %}
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/mt/">{% trans 'Home' %}</a>{%block app-breadcrumbs %}{%if nav.session%} | <a href="/mt/dashboard/session/{{nav.session.code}}/">Session {{nav.session.code}}</a>{%endif%}{%endblock %}{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
