{% load annotation_formatting %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Visual annotation</title>
<script language="javascript" src="/code/js/prototype.js" > </script>
<script language="javascript">AC_FL_RunContent = 0;</script>
<script src="/code/js/AC_RunActiveContent.js" language="javascript"></script>
</head>

<body bgcolor="#ffffff">

<script language="javascript" src="js/prototype.js" > </script>


<form id="MT_form" name="MT_form" method="POST">

<input type="hidden" name="av_fields" value="av_quality,av_feedback">

{% if ann_type.explanation %}
Instructions are <a id="a_instructions" href="{{ann_type.explanation}}" target="wnd_instructions">here</a>!<br/>
{% endif %}

<table>
<tr>
{% if ref_annotation %}
<td>Annotation:{{ref_annotation.annotation_type.name}}<br/>({{ref_annotation.annotation_type.category}})</td><td>
{{ref_annotation|render_annotation_full}}</td>
<td>Image:<br/><img src="{{object.url}}" width=200> </td> 
{% else %}
<td>Image:</td><td>
<img src="{{object.url}}"> </td> 
{% endif %}
</tr>

<tr><td>
Quality:</td><td>
<input type="radio" name="av_quality" value="1">bad
<input type="radio" name="av_quality" value="3">poor
<input type="radio" name="av_quality" value="5">maybe
<input type="radio" name="av_quality" value="7">good
<input type="radio" name="av_quality" value="9">great
<input type="radio" name="av_quality" value="10">exceptional

</textarea></td></tr>
<tr><td colspan=2 align=center>
<tr><td>
Feedback:</td><td>
<textarea name="av_feedback" rows=5 cols=50></textarea></td></tr>
<tr><td colspan=2 align=center>
<input type="submit" value="Submit grade">
</td></tr>
</table>


</form>










</body>
</html>
