<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Image collector</title>

<script language="javascript">AC_FL_RunContent = 0;</script>

<script src="/code/js/AC_RunActiveContent.js" language="javascript"></script>
<script language="javascript" src="/code/js/prototype.js" > </script>

</head>


<body bgcolor="#ffffff">


<ul>
   <li><a href="../search/">Search for new images</a></li>
</ul>

There's nothing else here for now.

</body>
</html>
