{% extends "mturk/base_app.html" %}

{% block subtitle %}Worker dashboard ({{worker.worker}}) | {% endblock %}

{% block subbranding %}Worker dashboard ({{worker.worker}}) | {% endblock %}


{% block content %}

Worker {{worker.worker}}<br/>

Total submissions: {{stats.num_submissions}}<br/>
Invalid submissions: {{stats.num_invalid}}<br/>
<hr>
Grading results:<br/>
<table>
<tr><th>grade</th><th>count</th></tr>
<tr><td>bad</td><td>{{stats.total_grades.num_bad}}</td></tr>
<tr><td>with errors</td><td>{{stats.total_grades.num_ok}}</td></tr>
<tr><td>good</td><td>{{stats.total_grades.num_good}}</td></tr>
<tr><th>ungraded</th><td>{{stats.total_grades.num_ungraded}}</td>
</table>
<hr/>


<table>
<tr><th>session</th><th>count</th></tr>
{% for contribution in contributions %}
<tr><td>{{contribution.session}}</td><td>{{contribution.count}}</td>
</tr>
{% endfor %}
</table>


{% endblock %}
