{% extends "mturk/base_app.html" %}

{% block subtitle %}Workers overview dashboard | {% endblock %}

{% block subbranding %}Workers overview dashboard | {% endblock %}


{% block content %}

<table>

{% for u in stats.utility %}
<tr><td>{{u.0}}</td><td> {{u.1}}</td> <td>{{u.3}}</td> <td>{{u.4}}</td> <td>{{u.5}}</td><td><a href="/mt/dashboard/worker_internal/{{u.2}}/">{{u.2}}</a></td></tr>

{% endfor %}
</table>
Worker {{worker.worker}}<br/>

Total submissions: {{stats.num_submissions}}<br/>
Invalid submissions: {{stats.num_invalid}}<br/>
<hr>
Grading results:<br/>
bad:{{stats.total_grades.num_bad}}<br/>
with errors:{{stats.total_grades.num_ok}}<br/>
good:{{stats.total_grades.num_good}}<br/>
<hr/>
ungraded:{{stats.total_grades.num_ungraded}}<br/>

{% endblock %}
