<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Visual annotation</title>
<script language="javascript" src="/code/js/prototype.js" > </script>
<script language="javascript">AC_FL_RunContent = 0;</script>
<script src="/code/js/AC_RunActiveContent.js" language="javascript"></script>
</head>

<body bgcolor="#ffffff">


<form id="MT_form" name="MT_form" method="POST">
<input type="hidden" name="sites" id="sites" value="">

{% if current_annotation.annotation_type.explanation %}
Instructions are <a id="a_instructions" href="{{current_annotation.annotation_type.explanation}}" target="wnd_instructions">here</a>!<br/>
{% endif %}

<div id="flash_div"></div>

<noscript>
Error. Javascript is required.
</noscript>
<hr/>
<input type=hidden name="assignmentId" id="assignmentId" value="">
<input type=hidden name="hitId" id="hitId" value="ignored">

<input type=hidden name="extid" id="extid" value="">
<input type=hidden name="session" id="session" value="">
<input type=hidden name="workerId" id="workerId" value="">
<input type=hidden name="mode" id="mode" value="">

</form>



<script>
swf_w='700';
swf_h='500';

task_name='{{current_annotation.annotation_type.get_annotation_metadata.task}}';
swf='/code/label_generic';

mode="edit";


query_args='img_base=/&imgURL={{current_annotation.ref_data.url}}&task={{current_annotation.annotation_type.get_annotation_metadata.task}}&mode=edit';
	if (AC_FL_RunContent == 0) {
		alert("This page requires AC_RunActiveContent.js.");
	} else {
	  $('flash_div').innerHTML=
		AC_FL_RunContent2(
			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0',
			'width', swf_w,
			'height', swf_h,
			'src', swf,
			'quality', 'high',
			'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
			'align', 'middle',
			'play', 'true"',
			'loop', 'true',
			'scale', 'showall',
			'wmode', 'window',
			'devicefont', 'false',
			'id', 'annotation_gui',
			'bgcolor', '#ffffff',
			'name', 'annotation_gui',
			'menu', 'true',
			'allowFullScreen', 'false',
			'allowScriptAccess','always',
			'movie', swf,
			'salign', '',
			'FlashVars', query_args
			); //end AC code

			}
</script>

</body>
</html>
