{% load time_extras %}
{% load annotation_formatting %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Data items</title>
<script language="javascript" src="/code/js/prototype.js" > </script>
<script language="javascript" src="/code/js/flags.js" > </script>
<link rel="stylesheet" type="text/css" href="/code/css/flags.css" />
</head>

<body bgcolor="#ffffff">
page number:
{% if has_previous %}
<a href="../p{{previous}}/">{{previous}}</a>
{% endif %}
{{page}}
{% if has_next %}
<a href="../p{{next}}/">{{next}}</a>
{% endif %} | {{num_pages}}
<br>
{% for p in page_range %}
<a href="../p{{p}}/">{{p}}</a> 
{% endfor %}

<hr/>
{% for a_c in object_list %}
{% for a in a_c.rel_reference.all%}
{{a.ref_data.url}}<br/>
{{a|render_annotation_large}}<br/>{{a|do_flags}}  [add <a href="a/{{a.id}}/add/comment/">comment</a> <a href="a/{{a.id}}/add/quality/">quality</a> ]
<hr/>
{% endfor %}
{% endfor %}

<noscript>
Error. Javascript is required.
</noscript>

{% if has_previous %}
<a href="../p{{previous}}/">{{previous}}</a>
{% endif %}
{{page}}
{% if has_next %}
<a href="../p{{next}}/">{{next}}</a>
{% endif %} | {{num_pages}}
<br>
{% for p in page_range %}
<a href="../p{{p}}/">{{p}}</a> 
{% endfor %}

{% if refresh_rate %}
<script type="text/JavaScript">
<!--
setTimeout("document.location.reload(true)",{{refresh_rate}});
//   -->
</script>
{% endif %}


</body>
</html>
