{% load annotation_formatting %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Data items</title>
<script language="javascript" src="/code/js/prototype.js" > </script>
</head>

<body bgcolor="#ffffff">

<table>
<tr><td colspan=2 align=center><b>{{object.annotation_type.name}}</b>({{object.annotation_type.category}})</td></tr>
<tr><td width="70%">
{{object|render_annotation_mini}} [add <a href="add/comment/">comment</a> <a href="add/quality/">quality</a>]<br/>
</td>
<td width=100>
Reference:
<img src="{{object.ref_data.url}}" width=100 > 
</td></tr>
</table>

{% for ann_rel in object.annotation_set.all %}
<hr/>

{{ann_rel|render_annotation_mini}}<br/>
<b>{{ann_type.0}}</b> <a href="../../new_annotation/{{object.id}}/{{ann_type.0}}/">add </a> <br/>

{% for a in ann_type.1 %}

{{a|render_annotation_mini}} [add <a href="a/{{a.id}}/add/comment/">comment</a> <a href="a/{{a.id}}/add/quality/">quality</a>]<br/>


{% endfor %}

{% endfor %}


<hr/>
{% for ann_type in empty_annotation_types %}

<a href="../../new_annotation/{{object.id}}/{{ann_type.1.name}}/">add {{ann_type.0}}</a> 

{% endfor %}

<noscript>
Error. Javascript is required.
</noscript>


{% if refresh_rate %}
<script type="text/JavaScript">
<!--
setTimeout("document.location.reload(true)",{{refresh_rate}});
//   -->
</script>
{% endif %}


</body>
</html>
