{% extends "admin/base.html" %}
{% load time_extras %}

{% block extrahead %}<script src="/code/js/prototype.js"></script>{% endblock %}


{% block title %}{{session.code}}:session dashboard{% endblock %}

{% block branding %}
<h1 id="site-name">Session dashboard: {{session.code}} </h1>
{% endblock %}



{% block content %}
<script>
var deactivate=function(id)
{
      new Ajax.Updater('deactivate_'+id, '/mt/grading/deactivate_grade/'+id+'/',{
	    
          });
}
</script>

Session {{session.code}} [{% if session.sandbox %}
SANDBOX
{% else %}
PRODUCTION
{% endif %}].<br/>
{{g1}} VS {{g2}}
<hr/>
<a href="/mt/result_stats/{{session.code}}-grading/by_worker/">Grading session by worker</a> <br/>
<a href="/mt/result_stats/{{session.code}}/by_worker/">Input session by worker</a> 
<hr/>
<table>
{% for c in conflicts %}
<tr>
<td><a target="_view_task" href="{{c.task.get_view_url}}">{{c.task.id}}</a></td><td>{{c.grade1.quality}},
<a href="/mt/dashboard/worker_internal/{{c.grade1.worker.worker}}/">{{c.grade1.worker.worker}}</a>({{c.grade1.worker.utility}}) [<a href="/mt/grading/by_id/{{c.grade1.reference}}/">{{c.grade1.id}}</a>] </td><td>
<div id="deactivate_{{c.grade1.id}}">
<a href="#" onclick="deactivate('{{c.grade1.id}}');return false;" >[mark invalid]</a>
</div></td>

<td>&nbsp;</td>
<td>{{c.grade2.quality}},<a href="/mt/dashboard/worker_internal/{{c.grade2.worker.worker}}/">{{c.grade2.worker.worker}}</a>({{c.grade2.worker.utility}})
[<a href="/mt/grading/by_id/{{c.grade2.reference}}/">{{c.grade2.id}}</a>]
</td><td>
<div id="deactivate_{{c.grade2.id}}">
<a href="#" onclick="deactivate('{{c.grade2.id}}');return false;" >[mark invalid]</a>
</div></td>


</td>

</tr>

{% endfor %}
</table>
{% endblock %}
