{% extends "mturk/base_app.html" %}

{% block subtitle %}Mechanical Turk task manager | {% endblock %}

{% block subbranding %}Mechanical Turk task manager | {% endblock %}


{% block content %}

My sessions:<br/>
<table>
<tr>
<td>Session</td>
<td>Open submissions</td>
<td>Total submissions</td>
</tr>
{% for s in sessions %}
<tr>
<td>
<a href="/mt/dashboard/session/{{s}}/">{{s}}</a><br/>
</td>
<td>
{{s.num_open_submissions}}
</td>
<td>
{{s.num_submissions}}
</td>

</tr>
{% endfor %}
</table>

{% endblock %}

