{% extends "mturk/base_app.html" %}

{% block subtitle %}Session work units: {{session.code}} | {% endblock %}

{% block subbranding %}Session work units: {{session.code}} | {% endblock %}


{% block content %}

page number:
{% if has_previous %}
<a href="../p{{previous}}/">previous</a>
{% endif %}
{{page}}
{% if has_next %}
<a href="../p{{next}}/">next</a>
{% endif %} | {{num_pages}}
<br>
jump to page: {% for p in page_range %}
<a href="../p{{p}}/">{{p}}</a> 
{% endfor %}
<hr/>
<table>
{% for h in object_list %}
<tr><td><a href="/mt/get_task/{{session.code}}/?ExtID={{h.ext_hitid}}">{{h.id}}</a></td><td>{{h.get_state_display}}</td></tr>
{% endfor %}
</table>
{% endblock %}


