{% extends "mturk/base_app.html" %}

{% block subtitle %}Statistics | {% endblock %}

{% block subbranding %}Statistics | {% endblock %}

{% block content %}

<hr/>
<table><tr><td>Session code</td><td>Session id</td><td>Num submissions</td></tr>
{% for s in submissions_per_session %}
<tr><td>{{s.session_code}}</td><td>{{s.session_id}}</td><td>{{s.submissions}}</td></tr>
{% endfor %}
</table>
<hr/>
<table><tr><td>Worker</td><td>Num sessions</td><td>Num submissions</td></tr>
{% for wc in worker_contributions %}
<tr><td>{{wc.worker}}</td><td>{{wc.num_sessions}}</td><td>{{wc.contribution}}</td></tr>
{% endfor %}
</table>

{% endblock %}

