{% extends "mturk/base_app.html" %}

{% block subtitle %}Worker grading report | {% endblock %}

{% block subbranding %}Worker grading report | {% endblock %}

{% block extrahead %}

<script src="/code/js/prototype.js"></script>

{% endblock %}


{% block content %}

<hr/>
<table><tr><td>Grade</td><td>Worker</td><td>Submission ID</td><td>HIT extID</td></tr>
{% for s in report %}
<tr><td>{{s.quality}}</td><td>{{s.worker}}</td><td><a href="/mt/view_submission/{{s.submission_id}}/{{s.ext_hitid}}/" target="mt_view_submission_wnd">{{s.submission_id}}</a></td><td>{{s.ext_hitid}}</td>
<td>
<a href="/mt/view_submission/{{s.submission_id}}/{{s.ext_hitid}}/" target="mt_view_submission_wnd">view</a>;
<a href="/mt/submission_data/{{s.submission_id}}/{{s.ext_hitid}}/" target="mt_view_submission_wnd">data</a>
</td>

</tr>
{% endfor %}
</table>

{% endblock %}
