<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Statistics</title>
<script language="javascript" src="/code/js/prototype.js" > </script>
</head>

<body bgcolor="#ffffff">

<hr/>
<table><tr><td>Grade</td><td>Worker</td><td>Submission ID</td><td>HIT extID</td></tr>
{% for s in report %}
<tr><td>{{s.quality}}</td><td>{{s.worker}}</td><td><a href="/mt/view_submission/{{s.submission_id}}/{{s.ext_hitid}}/" target="mt_view_submission_wnd">{{s.submission_id}}</a></td><td>{{s.ext_hitid}}</td>
<td>
<a href="/mt/view_submission/{{s.submission_id}}/{{s.ext_hitid}}/" target="mt_view_submission_wnd">view</a>;
<a href="/mt/submission_data/{{s.submission_id}}/{{s.ext_hitid}}/" target="mt_view_submission_wnd">data</a>
</td>

</tr>
{% endfor %}
</table>

</body>

</html>
